/web/themes/contrib/
/web/profiles/contrib/
/web/modules/contrib/
/web/libraries/
/web/core
/web/.well-known/
/web/robots.txt
/web/update.php
/web/index.php
/web/autoload.php
/web/.htaccess
/web/.eslintrc.json
/web/.eslintignore
/web/.csslintrc
/.editorconfig
/.gitattributes
/web/sites/default/files/
/vendor/

